In [4]:
import requests
import json
import re

import os
import mysql.connector
import pandas as pd

In [5]:
user_name = os.environ.get('DB_USER')
password = os.environ.get('DB_PASS')

In [6]:
connection = mysql.connector.connect(host = 'localhost', 
                                   user = user_name,
                                   passwd = password,
                                   db = 'registration')

In [12]:

img_path = 'data_imgs/1.jpeg'

url = 'https://handwriting-extraction.herokuapp.com/predict handwriting local images'

image_file_descriptor = open(img_path, 'rb')
# Requests makes it simple to upload Multipart-encoded files
header={'content_type':'multipart/form-data', 'accept': 'application/json'}
files = {'Image': image_file_descriptor}

s= requests.post(url, files=files)
try:
    data = s.json()    
    print(data, '\n')                
except requests.exceptions.RequestException:
    print(s.status_code, '\n')
    
print(s)
image_file_descriptor.close()

h = ' '.join(data)

# This works for the standard nigeria plates 
l = re.search(r'[a-zA-Z]+[-. ]*[0-9]+[- ]*[a-zA-Z]+', h)

# This works for both standard and customized plates only if value read is the license plate value
# l = re.search(r'[-a-zA-Z0-9: ]*', h)
dt = l.group()

unwanted = ['-', '.', ' ']
for i in unwanted:
    dt = dt.replace(i, '')
print(dt)


def user_data(data):
    '''
    This function takes in input variable or value and
    returns the corresponding data from the db
    
    cur.description was also needed to get the columns for the dataframe
    '''
  
    cur = connection.cursor()
    try:
        cur.execute("SELECT * FROM registration WHERE Plate_number = %s", (data,))
        res = cur.fetchall()
        if res:
            data = pd.DataFrame(data = res, columns=[x[0] for x in cur.description])
            return data
        else:
            return ('No Record Found')
    except Exception:
        print('Exception Found')
    

user_data(dt)

['NISSAN', 'XIITERRA', 'JUSTICE OF THERE', 'LAGOS', 'KRD.285FU']

<Response [200]>
KRD285FU

,Plate_number,First_name,Last_Name,Address,Telephone,Next_of_kin,kin_phone
0,KRD285FU,Joshua,Stephens,"2, Oniru Rd, Lekki",801419121,Shittu Eleshin,802457815

In [2]:
import re                                                                #[a-zA_Z], places all alphabets in a group
                                                                        #[0-9], places all integers in a group
                                                                        #[-], places all special characters in a group
                                                                        # + is for one or more occurences
                                                                        # * is for zero or more occurences

d = 'CX96- ABC'
e = 'KTU-984GK'
f = 'THE CEO 1'
g = 'PSALM34:1'
h = '007'
i = 'NA BABA GOD'

# This works for the standard nigeria plates 
x = re.search(r'[a-zA-Z ]+[ -:.]*[0-9]+[-:. ]*[a-zA-Z]+', d)
print(x.group())

# This works for both standard and customized plates only if value read is the license plate value
y = re.search(r'[-a-zA-Z0-9: ]*', f)
print(y.group())

CX96- ABC
THE CEO 1

In [3]:
dt = x.group()
print(dt)

dt_ = dt.replace('-', '')
print(dt_)

CX96- ABC
CX96 ABC